div body .container .result-box .button-orange .button-orange-bottom .button-grey-top .button-grey .button-grey-zero .row-0 .row-1 .row-2 .row-3 .row-4 .row-5{
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  margin:auto;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  width: 232px;
  height: 321px;
}

.row-0 {
  display: table-row;
  border-bottom: 0px;
  height: 80px;
}

.row-1 {
  display: table-row;
  border-bottom: 1px solid rgb(141, 141, 141);
  height: 47px;
}

.row-2{
  display: table-row;
  border-bottom: 1px solid rgb(141, 141, 141);
  height: 47px;
}

.row-3 {
  display: table-row;
  border-bottom: 1px solid rgb(141, 141, 141);
  height: 47px;

}

.row-4 {
  display: table-row;
  border-bottom: 1px solid rgb(141, 141, 141);
  height: 47px;

}

.row-5 {
  display: table-row;
  border: 0px;
  height: 47px;
}
.column{
  display: table-column;
  border-right: 1px solid rgb(141, 141, 141);
}

.result-box {
  display: table-cell;
  background-color: rgb(153, 153, 153);
  width: 56px;
}

.result-box-left {
  display: table-cell;
  background-color: rgb(153, 153, 153);
  width: 56px;
  border-top-left-radius: 5px;
}

.result-box-right {
  display: table-cell;
  background-color: rgb(153, 153, 153);
  width: 56px;
  border-top-right-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: bottom;
  color:white;
  font-size: 40pt;
  font-style: thin;

}

.button-grey {
  display: table-cell;
  background-color: rgb(225,225,225);
  height: 47px;
  width: 56px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 16pt;
  font-style: thin;
}

.button-grey:hover {
  background-color: rgb(178,178,178);
}

.button-grey:active {
  background-color: rgb(178,178,178);
}

.button-grey-top {
  display: table-cell;
  background-color: rgb(213,213,213);
  height: 47px;
  width: 56px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 16pt;
  font-style: thin;
}

.button-grey-top:hover {
  background-color: rgb(170,170,170);
}

.button-grey-top:active {
  background-color: rgb(170,170,170);
}


span {
  width: 50%;
}

.button-grey-zero {
  display: table-cell;
  background-color: rgb(225,225,225);
  height: 47px;
  width: 50%;
  table-layout: fixed;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  border-right:0;
  font-size: 16pt;
  font-style: thin;
}

.button-grey-zero:hover {
  background-color: rgb(178,178,178);
}

.button-grey-zero:active {
  background-color: rgb(178,178,178);
}

.button-orange {
  display: table-cell;
  background-color: rgb(223,145,60);
  height: 45px;
  width: 56px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 16pt;
  font-style: thin;
}

.button-orange:hover {
  background-color: rgb(186, 119, 56);
}
.button-orange:active {
  background-color: rgb(186, 119, 56);
}

.button-orange-bottom {
  display: table-cell;
  background-color: rgb(223,145,60);
  height: 45px;
  width: 56px;
  border-bottom-right-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 16pt;
  font-style: thin;
}

.button-orange-bottom:hover {
  background-color: rgb(186, 119, 56);
}
.button-orange-bottom:active {
  background-color: rgb(186, 119, 56);
}
